/* CONTENT */

.cart {
    border: 1px solid #b3aeab;
    border-radius: 8px;
    padding: 1.4rem 1rem 0.5rem;
}

.cart-item {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #b3aeab;
    padding: 0.5rem 0;
}

.product-image>img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
}

.product-image {
    width: 30%;
    display: inline-block;
}

.product-info {
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    vertical-align: top;
    justify-content: space-between;
    flex: 1;
}

.info-header {
    display: flex;
    justify-content: space-between;
}

span.price {
    font-weight: bold;
}

span.old-price {
    color: #b3aeab;
    text-decoration: line-through;
}

.product-size {
    color: #b3aeab;
}

.amount {
    border: 1px solid #b3aeab;
    padding: 1px 8px;
    border-radius: 12px;
    width: 30%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 5rem;
    text-align: center;
}

.cart-item.last-item {
    margin-bottom: 3rem;
}

.shipping-information,
.payment-information {
    border: 1px solid #b3aeab;
    border-radius: 8px;
    padding: 1.4rem 1rem;
}

.pay-pal {
    border: 1px solid #000;
    max-height: 48px;
}

.pay-pal img {
    min-width: 5rem;
    width: 40%;
    height: auto;
    vertical-align: middle;
}

button.pay-pal:hover {
    background-color: #fff;
    border-color: #0070ba;
}

.social-media {
    text-align: end;
}

.social-media img {
    width: 24px;
    height: auto;
}

.author span {
    width: 100%;
    font-size: 0.8rem;
}

footer .row {
    column-gap: 5rem;
}